{% extends "layout.html" %}

{% block main %}

    <!-- http://getbootstrap.com/docs/4.1/components/alerts/ -->
    <h1>Petty Pet</h1>
    <h3>Your wellness habits are alright: consider exercising for longer periods of time, making a small diet change that
    makes you feel better, or taking more time to rest!</h3>
    <img alt="{{ top }}" class="border" src="http://www.bravotv.com/sites/nbcubravotv/files/styles/blog-post--mobile/public/field_blog_image/2018/04/unleashed-corgi-people-promo.jpg?itok=mKp8i56f&timestamp=1524257239" title="{{ top }}">

{% endblock %}